.landing-page { 
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    padding: 30px;
    margin: 20px;
  }
  .overlay-layout{
     display: flex;
     flex-direction: row;
     justify-content: space-between;

  }
  .overlay-layout .left-side-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .overlay  .overlay-layout .left-side-panel h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .overlay  .overlay-layout .left-side-panel p {
    font-size: 18px;
  }
