.service-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.service-container h1{
    color: rgb(252, 253, 254);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.service-container p{
    color: rgb(252, 253, 254);
    font-family: 'Courier New', Courier, monospace;
}